<!-- footer.component.html -->
<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <!-- Colonna 1: Informazioni -->
        <div class="col-md-4">
          <h5>Informazioni</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Chi siamo</a></li>
            <li><a href="#" class="text-white">Contatti</a></li>
            <li><a href="#" class="text-white">Privacy</a></li>
            <li><a href="#" class="text-white">Termini di servizio</a></li>
          </ul>
        </div>
  
        <!-- Colonna 2: Servizi -->
        <div class="col-md-4">
          <h5>Servizi</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Supporto</a></li>
            <li><a href="#" class="text-white">Documentazione</a></li>
            <li><a href="#" class="text-white">Blog</a></li>
          </ul>
        </div>
  
        <!-- Colonna 3: Social Media -->
        <div class="col-md-4">
          <h5>Seguici</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white"><i class="fab fa-facebook-f"></i> Facebook</a></li>
            <li><a href="#" class="text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="#" class="text-white"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
          </ul>
        </div>
      </div>
  
      <hr class="my-4">
  
      <!-- Copyright -->
      <div class="text-center">
        <p>&copy; Tutti i diritti riservati.</p>
      </div>
    </div>
  </footer>
  