.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.auth-container {
  max-width: 600px;
  width: 100%;
  padding: 25px;
  background-color: #ebebeb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  /* Aggiungi un effetto di transizione */
}

/* Effetto di hover per l'auth-container */
.auth-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  /* Aumenta l'ombra */
}

/* Stili per gli input, select e button */
input,
select,
button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  /* Aggiungi transizione per il focus */
}

/* Effetto di focus per gli input e select */
input:focus,
select:focus {
  border-color: #585b5f;
  /* Colore del bordo al focus */
  background-color: #f0f8ff;
  /* Colore di sfondo al focus */
}

/* Effetto di focus per il button */
button {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  /* Aggiungi transizione */
}

/* Effetto di hover per il button */
button:hover {
  background-color: #787c81;
  /* Colore del bottone al hover */
}

/* Effetto di focus per il button */
button:focus {
  outline: none;
  /* Rimuove il bordo di focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  /* Aggiungi ombra al focus */
}

p {
  color: blue;
  cursor: pointer;
  /* Cambia il cursore a mano */
  transition: color 0.3s ease;
  /* Aggiungi transizione */
}

/* Effetto di hover per il testo del paragrafo (link-like) */
p:hover {
  color: #0056b3;
  /* Colore blu più scuro al hover */
}

p:active {
  color: #003366;
  /* Colore ancora più scuro al clic */
}

a:active {
  color: #a8a8a8;
  /* Colore ancora più scuro al clic */
}

a:hover {
  color: #848484;
  /* Colore blu più scuro al hover */
}

.back-to-dashboard {
  font-size: 1.5rem;
  /* Aumenta la dimensione del font */
  font-weight: bold;
  /* Imposta il grassetto */
  display: flex;
  align-items: center;
  gap: 10px;
  /* Distanza tra l'icona e la scritta */
}

.back-to-dashboard i {
  font-size: 1.8rem;
  /* Aumenta la dimensione dell'icona */
}

/* Stile per i messaggi di errore */
.invalid-feedback {
  font-size: 1.2rem;
  /* Aumenta la dimensione del testo */
  font-weight: bold;
  /* Imposta il testo in grassetto */
  color: red;
  /* Colore del testo rosso */
  margin-top: 5px;
  /* Distanza superiore per separare meglio dai campi di input */
}

#all {
  height: 100vh;
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #c9c9c9;
}