form {
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

div {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

  button:disabled {
    background-color: #cccccc;
  }

.success {
  color: green;
}

.error {
  color: red;
}
