<form [formGroup]="registerForm" (ngSubmit)="register()">

  <div>
    <label for="username">Username</label>
    <input id="username" formControlName="username" type="text">
  </div>

  <div>
    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email">
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" formControlName="password" type="password">
  </div>
  
  <div>
    <label for="roleId">Role</label>
    <select id="roleId" formControlName="roleId">
      <option *ngFor="let role of roles" [value]="role.id" [disabled]="role.id === null">
        {{ role.name }}
      </option>
    </select>
  </div>


  <button type="submit" [disabled]="registerForm.invalid">Register</button>
  <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</form>
