
.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Occupa l'intera altezza della finestra */
    font-weight: bold;  /* Testo in grassetto */
    font-size: 3rem;  /* Testo grande */
    color: rgb(116, 54, 54);  /* Colore rosso per il messaggio di errore */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);  /* Sfondo traslucido per evidenziare il messaggio */
    border-radius: 10px;  /* Bordo arrotondato */
    padding: 20px;  /* Spaziatura interna */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  /* Ombra per dare profondità */
  }
  